langchain
langchain-google-genai
langchain-chroma
chromadb
pypdf
python-dotenv
langchain
langchain-groq
langchain-nvidia-ai-endpoints
langchain-chroma
chromadb
pypdf
python-dotenv
streamlit
python-dotenv
langchain
langchain-community
langchain-classic
langchain-text-splitters
langchain-core
langchain-nvidia-ai-endpoints
langchain-chroma
langchain-groq
chromadb
pypdf
unstructured
python-pptx
unstructured[pptx]
beautifulsoup4
pandas