streamlit
python-dotenv

langchain
langchain-core
langchain-text-splitters
langchain-community
langchain-classic
langchain-groq
langchain-nvidia-ai-endpoints
langchain-google-genai

chromadb
langchain-chroma

pypdf
unstructured[pptx]
python-pptx
beautifulsoup4
pandas